<!DOCTYPE html>
<html ng-app="myapp">

<head>
  <meta charset="UTF-8" />
  <title>AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script src="./mytodo.js"></script>
  <style>
    .todo-true {
      color: gray;
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <h1> ToDo List</h1>
  <div ng-controller="MainController as mt">
    <div> finished tasked {{mt.getdone()}}/{{mt.tasks.length}}</div>
    <button ng-click="mt.deleteTask()">delete tasks</button>
    <ul>
      <li ng-repeat="task in mt.tasks" class="todo-{{task.done}}" ng-cloak>
        <input type="checkbox" ng-model="task.done"> {{task.body}}
        <button ng-click="mt.tasks.splice($index,1)">delete</button>
      </li>
    </ul>
    <form ng-submit="mt.add()">
      <input type="text" ng-model="mt.newTodo" />
      <input type="submit" value="add" />
    </form>
  </div>
</body>

</html>